html {
  font-size: 16px; }

body {
  background-color: #D9DBF1;
  display: flex;
  align-items: center;
  flex-flow: column; }

.initialContent {
  grid-template-areas: "header main" ". main";
  grid-template-columns: 20vw auto;
  grid-template-rows: 50vh auto; }

header {
  grid-area: header;
  position: fixed;
  z-index: 1000; }

.navbar {
  background-color: #ACB0BD;
  border-radius: 6px;
  border: 1px solid black; }

.navbar-collapse {
  position: relative;
  bottom: 160px; }
  @media only screen and (min-width: 992px) {
    .navbar-collapse {
      bottom: 0px; } }

.nav-item a {
  display: flex;
  align-items: center;
  height: 60px;
  color: #eeeeee; }

.active {
  font-weight: 700; }

main {
  grid-area: main; }

.mainSection {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-around; }

.form {
  background-color: #eeeeee;
  flex-flow: column nowrap;
  border: solid 1px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0px 20px; }
  .form__h1 {
    font-size: 3rem;
    align-self: center;
    display: inline; }
  .form__group, .form form button {
    margin: 10px 0px; }

.pedido {
  background-color: #eeeeee;
  width: 400px;
  height: auto;
  margin: 30px 0px; }

.table {
  background-color: #eeeeee;
  margin: 30px auto;
  border: 1px black; }

.promedio, .mediana {
  background-color: #eeeeee;
  border: 5px double gray;
  border-radius: 5px;
  margin: 30px auto;
  padding: 10px; }

.volverAlForm {
  display: flex;
  justify-content: center;
  margin: 30px 0px; }
