$bodyBack : #efe9e3;
$lightestGray : #eeeeee;
$light-gray : #ACB0BD;
$bright-orange : #D9DBF1;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

html {
  font-size: 16px;
}

body {
  background-color: $bright-orange;
  display: flex;
  align-items: center;
  flex-flow: column;
}

// GRID BASE
.initialContent {
  grid-template-areas: "header main"
                       ". main";
  grid-template-columns: 20vw auto;
  grid-template-rows: 50vh auto;
}

header {
  grid-area: header;
  position: fixed;
  z-index: 1000;
}

.navbar {
  background-color: $light-gray;
  border-radius: 6px;
  border: 1px solid black;
}

.navbar-collapse {
  position: relative;
  bottom: 220px;

  @media only screen and (min-width: 992px) {
    bottom: 0px;
  }
}

.nav-item a{
  padding-top: 35px;
  color: $lightestGray;
}

main {
  grid-area: main;
}
//MAIN SECTION
.mainSection {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-around;
}

// FORMULARIO
.form {
  background-color: $lightestGray;
  flex-flow: column nowrap;
  border: solid 1px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0px 20px;

  &__h1 {
    font-size: 3rem;
    align-self: center;
    display: inline;
  }

  &__group, form button {
    margin: 10px 0px;
  }
}

// IMPRIMIR PEDIDOS
.pedido {
  background-color: $lightestGray;
  @include size(400px, auto);
  margin: 30px 0px;
}

// LISTADO
.table {
  background-color: $lightestGray;
  margin: 30px auto;
  border: 1px black;
}

// PROMEDIO Y MEDIANA
.promedio, .mediana {
  background-color: $lightestGray;
  border: 5px double gray;
  border-radius: 5px;
  margin: 30px auto;
  padding: 10px;
}

// BOTÓN DE VOLVER AL INICIO
.volverAlForm {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
